.place__url {
  font-family: 'Inter','Arial', sans-serif;
  font-size: 4.5rem;
  line-height: 7.5rem;
  color: white;
  opacity: 1;
}
.place__url:hover {
  color: #2F80ED;
  opacity: .5;
  transition: 1s;
}