@import url('__item/video__item.css');
.video__container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .video__container { 
    flex-direction: column;
  }
  .video__item {
    margin: 0 2.5% 9px 2.5%;
  }
  .video__item:last-child {
    margin: 0 2.5%;
  }
}